p::first-letter {
    color: #c00000;
}

body {
    font-size: 3em;
/*     color: #C0C0C0;  *//* Стандартный серый цвет */
}

p {
    font-size: 1em;
    line-height: 1.4;
}

h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1.0em; }
h4 { font-size: 0.7em; }

.small {
    font-size: 0.85em;
}